{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(user) }}

    <div>
        <a href="{{ path('app_settings') }}">Settings</a>
    </div>
    <div>
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endblock %}
